body {
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #C6E2B5;
}

header {
  background-color: #34C759; /* Verde Fresco */
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #333333; /* Cinza Escuro */
  text-decoration: none;
}

nav a:hover {
  color: #34C759; /* Verde Fresco */
}

main {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

section {
  background-color: #F7F7F7; /*